/* workload.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling on the entire page */
}

.container-fluid {
    height: calc(100vh - 56px); /* Adjust height to exclude the navbar */
    overflow: hidden; /* Prevent scrolling in the container */
}

#projects-list, #chat-section, #workers-list {
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Add a scrollbar if content overflows */
    display: flex;
    flex-direction: column;
}

.project-item, .worker-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 15px; /* Add margin to avoid sticking to the container edges */
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.project-item:hover, .worker-item:hover {
    background-color: #f0f0f0;
}

.project-item.selected, .worker-item.selected {
    background-color: #d4edda;
}

.project-item img, .worker-item img {
    margin-right: 10px;
}

.chat-box {
    flex-grow: 1;
    border: 1px solid #ddd;
    margin: 5px 15px;
    padding: 15px;
    overflow-y: auto;
    border-radius: 5px;
}

.chat-message {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chat-message small {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: #999;
}
